body {
background-color: #212121;

}

footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #424242;
  background-color: #212121;
  font-size: 14px;
  margin: .5em
}


#chatmessage {
  width: 100%;
}
